<%- include('./include/head.ejs') %>

<body>
    <%- include('./include/topnav.ejs', {topnavproperties: topnavproperties}) %>

    <h1>About</h1>
    <p>Simple user admin database for automated testing</p>
    
    <%- include('./include/alert.ejs', {response: response}) %>
</body>
