<%- include('./include/head.ejs') %>

<body>
    <%- include('./include/topnav.ejs', {topnavproperties: topnavproperties}) %>

    <h1><%=response.heading%></h1>

    

    <%- include('./include/response.ejs', {response: response}) %>

    <div id="div_links">
        <a href="/" id="link_index" class="btn bt-sm btn-primary">Back</a>
    </div>

</body>
